{% extends 'base.html.twig' %}

{% block title %}Modification du mot de passe{% endblock %}

{% block body %}

    <div class="container">
        <h1 class="my-5">Modification du mot de passe</h1>

        <div class="row ">
            <div class="col">
                <div class="alert alert-light">
                    {{ form_start(form) }}
                    {{ form_widget(form) }}

                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-check"></i>
                        Modifier le mot de passe
                    </button>

                    {{ form_end(form) }}
                </div>
            </div>
        <div class="col"></div>
        </div>
    </div>

{% endblock %}
